{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}
{% if customer %}
  {% for tag in customer.tags %}
    {% if tag == 'Retail' %}
      {% assign customertype = 'retail' %}
    {% endif %}
    {% if tag == 'Practitioner' %}
      {% assign customertype = 'wholesale' %}
    {% endif %}
  {% endfor %}
{% endif %}
<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
     {% if customertype == 'wholesale' %}

       {% assign menu_links = linklists['main-menu-wholesale'].links %}

       {% else %}

       {% assign menu_links = section.settings.menu.links %}


       {% endif %}
    {%- comment %}<locksmith:184b>{% endcomment -%}
      {%- assign locksmith_90d9_forloop__size = 0 %}{%- for link in menu_links -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_90d9_forloop__size = locksmith_90d9_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_90d9_forloop__index = nil -%}
    {%- comment %}</locksmith:184b>{% endcomment -%}
    {%- for link in menu_links -%}
      {%- comment %}<locksmith:6a3c>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_90d9_forloop__index == nil %}{% assign locksmith_90d9_forloop__index = 1 %}{% assign locksmith_90d9_forloop__index0 = 0 %}{% else %}{% assign locksmith_90d9_forloop__index = locksmith_90d9_forloop__index | plus: 1 %}{% assign locksmith_90d9_forloop__index0 = locksmith_90d9_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_90d9_forloop__index == 1 %}{% assign locksmith_90d9_forloop__first = true %}{% else %}{% assign locksmith_90d9_forloop__first = false %}{% endif %}{% if locksmith_90d9_forloop__index == locksmith_90d9_forloop__size %}{% assign locksmith_90d9_forloop__last = true %}{% else %}{% assign locksmith_90d9_forloop__last = false %}{% endif %}{% assign locksmith_90d9_forloop__rindex = locksmith_90d9_forloop__size | minus: locksmith_90d9_forloop__index | minus: 1 %}{% assign locksmith_90d9_forloop__rindex0 = locksmith_90d9_forloop__size | minus: locksmith_90d9_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:6a3c>{% endcomment -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ locksmith_90d9_forloop__index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span gggg
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ locksmith_90d9_forloop__index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    {%- comment %}<locksmith:f6b4>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:f6b4>{% endcomment -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            {%- comment %}<locksmith:dd83>{% endcomment -%}
                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                            {%- comment %}</locksmith:dd83>{% endcomment -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
