{% style %}
.map-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.map-section__text {
  width: 45%;
  text-align: left;
}

.map-section__text h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.map-section__text p {
  font-size: 1.2em;
  color: #555;
}

.map-section__map {
  width: 45%;
  height: 400px; /* Adjust the height as needed */
}

.map-section__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

  {% endstyle %}

<div class="map-section">
  <div class="map-section__text">
    <h2>{{ section.settings.heading_text }}</h2>
    <p>{{ section.settings.description_text }}</p>
  </div>
  <div class="map-section__map">
    <iframe
      src="https://www.google.com/maps/embed/v1/view?key=YOUR_GOOGLE_MAPS_API_KEY&center={{ section.settings.map_latitude }},{{ section.settings.map_longitude }}&zoom={{ section.settings.map_zoom }}"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
      aria-hidden="false" tabindex="0">
    </iframe>
  </div>
</div>


{% schema %}
{
  "name": "Map Section",
  "settings": [
    {
      "type": "text",
      "label": "Heading Text",
      "id": "heading_text",
      "default": "Our Location"
    },
    {
      "type": "textarea",
      "label": "Description Text",
      "id": "description_text",
      "default": "Here you can find our store. Come visit us!"
    },
    {
      "type": "text",
      "label": "Google Map Latitude",
      "id": "map_latitude",
      "default": "40.712776"
    },
    {
      "type": "text",
      "label": "Google Map Longitude",
      "id": "map_longitude",
      "default": "-74.005974"
    },
    {
      "type": "text",
      "label": "Map Zoom Level",
      "id": "map_zoom",
      "default": "12"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}