{%- assign direction = section.settings.marquee_direction -%}
{{ 'marquee.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* Padding */
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* Apply background image to the section */
  .section-{{ section.id }} {
    {% if section.settings.background_image %}
      background-image: url('{{ section.settings.background_image | img_url: 'original' }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}

    /* Apply height dynamically based on the selected option */
    {% case section.settings.height_option %}
      {% when 'small' %}
        height: 200px;
      {% when 'medium' %}
        height: 400px;
      {% when 'large' %}
        height: 600px;
    {% endcase %}
  }

  /* Flexbox for vertical alignment of marquee-content */
  .marquee-content {
    display: flex;
    justify-content: center; /* Align horizontally */
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height of the parent container */
    align-items: center; /* Align items to the center vertically */
  }

  {{id}} .track {
    position: absolute;
    white-space: nowrap;
    font-size: 6rem;
    will-change: transform;
    animation: marquee 60s linear infinite;
  }

  @keyframes marquee {
    {% if direction == "left-to-right" %}
      from { transform: translateX(-100%); }
      to { transform: translateX(100%); }
    {% else %}
      from { transform: translateX(100%); }
      to { transform: translateX(-100%); }
    {% endif %}
  }
{%- endstyle -%}

<div class="marquee multicolumn color-{{ section.settings.color_scheme }} section-{{ section.id }}">
  <div class="track">
    <div class="marquee-content">
      {% for block in section.blocks %}
        <span class="marquee-gap" style="color:{{ block.settings.color }}">
          {% if block.settings.image %}
            <img src="{{ block.settings.image | img_url: '100x' }}" alt="Marquee Image" style="vertical-align: middle; margin-right: 10px;" />
          {% endif %}
          <div class="custom-text {{ block.settings.text_size }}">
            {{ block.settings.text }}
          </div>
        </span>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Marquee Full Width",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "select",
        "id": "marquee_direction",
        "label": "Marquee Direction",
        "options": [
          {
            "value": "left-to-right",
            "label": "Left to Right"
          },
          {
            "value": "right-to-left",
            "label": "Right to Left"
          }
        ],
        "default": "left-to-right"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "select",
        "id": "height_option",
        "label": "Height Option",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top mobile",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom mobile",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "ScrollingTextWithImage",
        "name": "Scrolling Text with Image",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Title",
            "label": "Scrolling Text"
          },
          {
            "type": "color",
            "id": "color",
            "default": "#000000",
            "label": "Text Color"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default": "medium"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee Full Width"
      }
    ]
  }
{% endschema %}
